@media (max-width: 576px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            background-image: url(../img/header-bglayers.jpg);
            background-attachment: fixed;
            background-position: top, center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .header-top {
        margin: 0 0;
        padding: 2%;
        position: relative;
        z-index: 2;
    }
    .header-top-nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
        #menu-toggle {
            opacity: 0;
            &:checked ~ .menu-btn > span {
                transform: rotate(45deg);
            }
            &:checked ~ .menu-btn > span::before {
                top: 0;
                transform: rotate(0);
            }
            &:checked ~ .menu-btn > span::after {
                top: 0;
                transform: rotate(90deg);
            }
            &:checked ~ .menu-box {
                visibility: visible;
                left: 0;
            }
        }
        .menu-btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            left: 90%;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 2;
        }
        .menu-btn > span,
        .menu-btn > span::before,
        .menu-btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            transition-duration: 0.25s;
        }
        .menu-btn > span::before {
            content: "";
            top: -8px;
        }
        .menu-btn > span::after {
            content: "";
            top: 8px;
        }
        .menu-box {
            margin: 0 0;
            padding: 0 0;
            display: block;
            position: fixed;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 71px;
            left: -100%;
            width: 100%;
            height: 100%;
            list-style: none;
            background-color: #ffffff;
            transition-duration: 0.25s;
        }
        .header-top-menu-item {
            display: block;
            padding: 12px 24px;
            color: #000000;
            @include fontRaleway(20px, 1.2, 600, #000000);
            text-decoration: none;
            transition-duration: 0.25s;
            &:hover {
                background-color: #666;
            }
        }
    }
    .header-bottom {
        display: none;
    }
    .featur {
        margin: 0 0 2% 0;
        padding: 20% 1% 1% 1%;
        box-sizing: content-box;
        justify-content: center;
    }
    .realization {
        display: none;
    }
    .rate {
        display: none;
    }
    .latest-projects {
        display: none;
    }
    .video-presentation {
        display: none;
    }
    .excellent-for-mobile-devices {
        height: auto;
        padding: 2%;
        box-sizing: content-box;
        &-wrapper {
            max-width: 100%;
            background-image: url(../img/excellent-for-mobile-devices.png);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 30%;
            &::before {
                display: none;
            }
            .excellent-for-mobile-devices-h3 {
                margin: 1% auto;
                text-align: center;
            }
            .excellent-for-mobile-devices-p {
                margin: 0 auto;
            }
            .excellent-for-mobile-devices-ul {
                margin: 3% 0 0 0;
                padding: 0 0 0 40%;
                list-style-image: url(../img/excellent-for-mobile-devices-ul.svg);
            }
        }
    }
    .achievements {
        display: none;
    }
    .recent-posts {
        padding: 2%;
        box-sizing: content-box;
        &-p {
            width: 100%;
        }
        &-items {
            justify-content: center;
        }
        .recent-posts-item-btn {
            display: none;
        }
    }
    .customers {
        padding: 2%;
        box-sizing: content-box;
        align-items: center;
        justify-content: space-around;
        background-size: cover;
        &-link {
            margin: 2% 0;
        }
    }
    footer {
        width: 100%;
    }
    .footer-top {
        display: none;
    }
    .footer-bottom {
        padding: 2%;
        box-sizing: content-box;
        justify-content: center;
        &-span:first-child {
            width: 100%;
            margin: 0 0 2% 0;
            display: flex;
            justify-content: space-evenly;
        }
    }
}