@media (max-width: 576px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
        height: auto;
    }
    .header-top {
        margin: 0 0;
        padding: 2%;
    }
    .header-top-nav {
        width: 100%;
        .header-top-menu-ul {
            width: auto;
        }
    }
    .header-bottom {
        display: none;
    }
    .featur {
        margin: 0 0 2% 0;
        padding: 1%;
        justify-content: center;
    }
    .realization {
        display: none;
    }
    .rate {
        display: none;
    }
    .latest-projects {
        display: none;
    }
    .video-presentation {
        display: none;
    }
    .excellent-for-mobile-devices {
        height: auto;
        padding: 2%;
        &-wrapper {
            max-width: 100%;
            background-image: url(../img/excellent-for-mobile-devices.png);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 30%;
            &::before {
                display: none;
            }
            .excellent-for-mobile-devices-h3 {
                margin: 1% auto;
            }
            .excellent-for-mobile-devices-p {
                margin: 0 auto;
            }
            .excellent-for-mobile-devices-ul {
                margin: 3% 0 0 0;
                padding: 0 0 0 40%;
                list-style-image: url(../img/excellent-for-mobile-devices-ul.svg);
            }
            /*.excellent-for-mobile-devices-ul li:first-child::before {
                max-width: 21px;
                top: 1%;
                left: 36%;
            }
            .excellent-for-mobile-devices-ul li:nth-child(2)::before {
                top: 27%;
                left: 36%;
            }
            .excellent-for-mobile-devices-ul li:nth-child(3)::before {
                top: 52%;
                left: 36%;
            }
            .excellent-for-mobile-devices-ul li:last-child::before {
                top: 77%;
                left: 36%;
            }*/
        }
    }
    .achievements {
        display: none;
    }
    .recent-posts {
        padding: 2%;
        &-p {
            width: 100%;
        }
        &-items {
            justify-content: center;
        }
        .recent-posts-item-btn {
            display: none;
        }
    }
    .customers {
        padding: 2%;
        align-items: center;
        justify-content: space-around;
        &-link:nth-child(1), &-link:nth-child(2)  {
            margin-bottom: 2%;
        }
    }
    footer {
        width: 100%;
    }
    .footer-top {
        display: none;
    }
    .footer-bottom {
        padding: 2%;
        justify-content: center;
        &-span:first-child {
            width: 100%;
            margin: 0 0 2% 0;
            display: flex;
            justify-content: space-evenly;
        }
    }
}