//Импорт
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
//миксины
@mixin fontRaleway($fs,$lh,$fw,$col) {
    font-family: 'Raleway', sans-serif;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}
@mixin fontRoboto($fs,$lh,$fw,$col) {
    font-family: 'Roboto', sans-serif;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}
@mixin fontMontserrat($fs,$lh,$fw,$col) {
    font-family: 'Montserrat', sans-serif;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}
// стили
body {
    margin: 0 0;
    padding: 0 0; 
}
// header
header {
    width: 1920px;
    max-height: 1024px;
    margin: 0 0;
    padding: 0 0;
    background-image: url(../img/header-bglayers.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// header-top
.header-top {
    width: 100%;
    margin: 0 0 300px 0;
    padding: 35px 375px 0 375px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-logo {
    width: 181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    &:hover {
        color: #c7b299;
        transition: 0.5s;
    }
    &-svg {
        fill: currentColor;
    }
    &-txt {
        @include fontRaleway(34px,1.2,400,#ffffff)
    }
}
.header-top-nav {
    width: 775px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;    
    .header-top-menu {
        &-ul {
            width: 650px;
            margin-right: 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
            &-ul li a {
            @include fontMontserrat(14px, 1.2, 300, #ffffff);
            text-decoration: none;
            transition: 0.5s;
            }
            &-ul li a:hover {
                color: #c7b299;
                transition: 0.5s;
            }
            &-ul li a:active {
                color: #4e3427;
                transition: 0.5s;
            }    
    }
    &-item {
        width: 75px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        &-shop-svg {
            fill: #ffffff;
            /*stroke: #ffffff;*/
        }
        &-shop:hover {
            color: #c7b299;
            transition: 0.5s;
        }
        &-search-svg {
            fill: #ffffff;
        }
        &-search:hover {
            color: #c7b299;
            transition: 0.5s;
        }
}